Body {
    background-image: url('IMG/fondo pag cli.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    }

H1 {
    color: rgb(121, 190, 109);
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding: 20px;
    stroke-width: 2px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

H3 {
    margin-top: 20px;
}

P {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    margin-top: 10px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}