body {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    color: rgb(121, 190, 109);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3.5em;
    margin: 0;
    padding: 20px;
    stroke-width: 3px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}

h3 {
    margin-top: 20px;
}

p {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    margin-top: 10px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}